<span class="line">
	<i ng-if="ctrl.type=='Buss'" class="fa fa-bus type"></i>
	<i ng-if="ctrl.type=='Train'" class="fa fa-train type"></i>
	<i ng-if="ctrl.type=='Tram'" class="fa fa-subway type"></i>
	<i ng-if="ctrl.type=='Air'" class="fa fa-plane type"></i>
	<i ng-if="ctrl.type=='WALK'" class="fa fa-male type"></i>
	<i ng-if="ctrl.type=='Exp.boat'" class="fa fa-ship type"></i>
	<i ng-if="ctrl.type=='U'" class="fa fa-subway type"></i>
	<!-- <span ng-bind="ctrl.type" class="type"></span> -->
	<span ng-bind="ctrl.number" class="number"></span>
</span>