.journeyWrapper {
	margin-bottom: 0.4em;
}

.journey {
	color: black;
	background-color: white;
	padding: 0.3em;
	cursor: pointer;
}

@media screen and (min-width:35.5em) {
	.journey {
		padding: 0.5em;
	}
}

.journey table {
	width: 100%;
}

.journey table .duration {
	text-align: center;
	font-size: 0.8em;
}

.journey table .end {
	text-align: right;
}

.journey table .start, 
.journey table .end {
	font-weight: 600;
}

.journey table .toggle {
	text-align: right;
	width: 1em;
}

.legs {
	color: black;
	background-color: white;
	padding: 0.5em;
	cursor: pointer;
}

.legs table {
	width: 100%;
}

.leg {
	font-size: 0.8em;
	margin-bottom: 1em;
}

.leg .deliminer td {
	border-top: 1px solid #ddd;
}

.leg:first-child .deliminer td {
	border-top: none;
}

.leg .local {
	font-size: 1.4em;
}

.leg .line {
	text-spacing: nowrap;
	font-size: 1.2em;
}

.leg .time {
	vertical-align: top;
	letter-spacing: nowrap;
}

.leg .name {
	font-weight: 400;
}

.leg .duration {
	text-align: right;
}

.loading {
	text-align: center;
	padding-top: 2em;
}

.hide {
	opacity: 0;
	display: block;
}