.pullRight {
  float: right;
}

.tt-input:focus {
    background-color: rgba(248, 222, 171, .8) !important;
}

.typeahead,
.tt-query,
.tt-hint {
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #000
}

.tt-menu {
    color: black;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/* */
.tt-menu {
    position: relative !important;
}

.twitter-typeahead {
    display: block !important;
}