<div class="tripList">

	<div>
		
		<div ng-repeat="journey in ctrl.list" class="journeyWrapper">
			<div ng-click="journey.show=!journey.show" class="journey">
				<table>
					<tr>
						<td class="start" ng-bind="journey.startTime"></td>
						<td class="duration">
							<span ng-repeat="leg in journey.legs">
								<line type="leg.type" number="leg.local"></line>
							</span><br>
							<span ng-bind="journey.duration"></span>
						</td>
						<td class="end" ng-bind="journey.endTime"></td>
						<td class="toggle">
							<i ng-if="journey.show" class="fa fa-angle-up"></i>
							<i ng-if="!journey.show" class="fa fa-angle-down"></i>
						</td>
					</tr>
				</table>
			</div>

			<div ng-if="journey.show" ng-click="journey.show=false" class="legs">
				<table>
					<tbody ng-repeat="leg in journey.legs" class="leg">
						<tr class="deliminer"><td colspan="6"></td></tr>
						<tr>
							<td rowspan="2">
								<line type="leg.type" number="leg.local"></line>
							</td>
							<td ng-bind="leg.origin.time" class="time"></td>
							<td ng-bind="leg.origin.name" class="name"></td>
							<td rowspan="2" ng-bind="leg.duration" class="duration"></td>
						</tr>
						<tr>
							<td ng-bind="leg.dest.time" class="time"></td>
							<td ng-bind="leg.dest.name" class="name"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="error" ng-if="ctrl.error && !ctrl.isSearching" ng-bind="ctrl.error"></div>

	</div>

	<div ng-show="ctrl.isSearching">
		<div class="loading">
			<i class="fa fa-spinner fa-spin fa-5x"></i>
		</div>
	</div>
</div>