<div class="tripList">

	<div>
		
		<div ng-repeat="journey in ctrl.list" class="journeyWrapper">
			<div ng-click="journey.show=!journey.show" class="journey" analytics-on="click" analytics-event="toggle" analytics-category="tripList">
				<table>
					<tr>
						<td class="start" ng-bind="journey.startTime"></td>
						<td class="duration">
							<span ng-repeat="leg in journey.legs">
								<line type="leg.type" number="leg.local"></line>
							</span><br>
							<span ng-bind="journey.duration"></span>
						</td>
						<td class="end" ng-bind="journey.endTime"></td>
						<td class="toggle">
							<i ng-if="journey.show" class="fa fa-angle-up"></i>
							<i ng-if="!journey.show" class="fa fa-angle-down"></i>
						</td>
					</tr>
				</table>
			</div>

			<div ng-if="journey.show" ng-click="journey.show=false" class="legs" analytics-on="click" analytics-event="close" analytics-category="tripList">
				<table>
					<tbody ng-repeat="leg in journey.legs" class="leg">
						<tr class="deliminer"><td colspan="6"></td></tr>
						<tr>
							<td rowspan="2">
								<line type="leg.type" number="leg.local"></line>
							</td>
							<!-- <td>
							<a ui-sref="detail({reference: leg.reference.ref, date: leg.reference.date})" style="color: red">Details{{leg.reference|json}}</a>
							</td> -->
							<td ng-bind="leg.origin.time" class="time"></td>
							<td ng-bind="leg.origin.name" class="name"></td>
							<td rowspan="2" ng-bind="leg.duration" class="duration"></td>
						</tr>
						<tr>
							<td ng-bind="leg.dest.time" class="time"></td>
							<td ng-bind="leg.dest.name" class="name"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="error" ng-if="ctrl.error && !ctrl.isSearching">
			<span class="noConnection" ng-show="ctrl.error.code==0" ng-click="ctrl.loadWithDelay()">
				<span class="fa-stack fa-3x">
					<i class="fa fa-wifi fa-stack-1x"></i>
					<i class="fa fa-ban fa-stack-2x" style=""></i>
				</span>
			</span>
			<span ng-show="ctrl.error.code!=0">
				<i class="fa fa-exclamation-triangle fa-5x" ng-show="ctrl.error.code!=0"></i>
				<p ng-bind="ctrl.error.text"></p>
			</span>
		</div>
	</div>

	<div class="loading noPrint">
		<i ng-show="ctrl.isSearching" class="fa fa-spinner fa-spin fa-5x"></i>
		<i ng-click="ctrl.more()" ng-show="ctrl.list.length > 0 && !ctrl.isSearching" class="more fa fa-angle-double-down fa-5x"></i>
	</div>
</div>