<div>
	{{name}} 
	<!-- {{id}} -->
	<span class="pullRight">
		<i ng-if="{{hasBus}}" class="fa fa-bus type"></i>
		<i ng-if="{{hasTrain}}" class="fa fa-train type"></i>
		<i ng-if="{{hasSubway}}" class="fa fa-subway type"></i>
		<i ng-if="{{hasPlane}}" class="fa fa-plane type"></i>
		<i ng-if="{{hasBoat}}" class="fa fa-ship type"></i>
		<i ng-if="{{hasMetro}}" class="fa fa-subway type"></i>
		<i ng-if="{{lat}}" class="fa fa-map-marker type"></i>
		<i ng-if="{{nearBy}}" class="fa fa-dot-circle-o type"></i>
	</span>
</div>