<div>
	<i class="fa fa-clock-o {{source=='lastVisited'}}"></i>
	<i class="fa fa-dot-circle-o {{source=='local'}}"></i>
	<i class="fa fa-flash {{source=='remote'}}"></i>
	<i class="fa fa-map-marker {{source=='nearBy'}}"></i>
	{{name}} 
	<!-- {{id}} -->
	<span class="pullRight">
		<i class="fa fa-bus {{hasBus}}"></i>
		<i class="fa fa-subway {{hasTram}}"></i>
		<i class="fa fa-train {{hasTrain}}"></i>
		<i class="fa fa-subway {{hasSubway}}"></i>
		<i class="fa fa-plane {{hasPlane}}"></i>
		<i class="fa fa-ship {{hasBoat}}"></i>
		<i class="fa fa-subway {{hasMetro}}"></i>
	</span>
</div>