<i class="fa fa-arrow-circle-left fa-2x back" ng-click="ctrl.back()"></i>
<h1>Samkjøring</h1><br>

<form>

	<button class="now" ng-click="ctrl.now()">Now</button>

	<div class="breaker">or</div>

	<label>
		<span>Time</span>
		<input type="time" ng-model="ctrl.time">
	</label>

		<!-- <table class="minutes">
			<tr>
				<td>in 15 min</td>
				<td>in 30 min</td>
				<td>in 45 min</td>
				<td>in 1 hour</td>
			</tr>
		</table> -->
		
		<div class="breaker">&nbsp;</div>
		<div class="breaker">&nbsp;</div>
		<div class="breaker">&nbsp;</div>

		<label>
			<span>Date</span>
			<input type="date" ng-model="ctrl.date">
		</label>

		<!-- <table class="days">
			<tr>
				<td>Tomorrow</td>
				<td>Mon</td>
				<td>Tue</td>
				<td>Wed</td>
				<td>Thu</td>
				<td>Fri</td>
				<td>Sat</td>
				<td>Sun</td>
			</tr>
		</table> -->

	<!-- 	<label>
			<input type="radio" ng-model="ctrl.searchForDeparture" ng-value="true" />
			<span>Departure</span>
		</label>

		<label>
			<input type="radio" ng-model="ctrl.searchForDeparture" ng-value="false" />
			<span>Arrival</span>
		</label>
	-->
	<div class="breaker">&nbsp;</div>

	<button class="now" ng-click="ctrl.search()">Search</button>

</form>