<div class="wrapper">
	<i class="fa fa-arrow-circle-left fa-2x back" ng-click="ctrl.back()"></i> 
	<h1>Samkjøring</h1><br>
	<div>
		<label>
			<span>To</span>
			<angucomplete-alt id="origin"
			placeholder="Type place here"
			selected-object="ctrl.select"
			remote-url="http://crossorigin.me/http://hafas.utvikling01.reiseinfo.no/bin/dev/nri/rest.exe/v1.1/vs_restapi/location?authKey=api-test&amp;format=json&amp;input="
			remote-url-data-field="LocationList.StopLocation"
			title-field="name"
			description-field="coName"
			minlength="1"></angucomplete-alt>
		</label>
	</div>
</div>