<div class="wrapper">

	<div class="label">
		<span>Fra</span>
		<input-stop id="origin" placeholder="Holdeplass" model="ctrl.origin" initial-value="ctrl.originInitValue"></input-stop>
	</div>

	<div class="label" ng-class="{hide:!ctrl.showDest}">
		<span>Til</span>
		<input-stop id="dest" placeholder="Holdeplass" model="ctrl.dest" initial-value="ctrl.destInitValue"></input-stop>
	</div>
	
	&nbsp;
	<div ng-show="ctrl.dest.id && ctrl.showDate" date-picker="ctrl.datetime" view="hours" max-view="month" min-view="hours"></div>
	&nbsp;

	<departure-board ng-if="ctrl.showDepartures && !ctrl.dest.id" id="ctrl.origin.id" auto-update="false"></departure-board>

	
	<trip-list ng-show="ctrl.showResults" origin-id="ctrl.origin.id" dest-id="ctrl.dest.id" options="ctrl.options"></trip-list>

</div>